@page "/add-user"
@using KalastusWebsite.Data
@using KalastusWebsite.Models
@inject AppDbContext _context

<h3>Rekisteröidy</h3>

<EditForm Model="newUser" OnValidSubmit="HandleValidSubmit">
    <div>
        <label>Käyttäjänimi:</label>
        <InputText @bind-Value="newUser.Username" />
    </div>
    <div>
        <label>Sähköposti:</label>
        <InputText @bind-Value="newUser.Email" />
    </div>
    <div>
        <label>Salasana:</label>
        <InputText @bind-Value="newUser.Password" type="password" />
    </div>
    <button type="submit">Rekisteröidy</button>
</EditForm>

@code {
    private User newUser = new User();

    private async Task HandleValidSubmit()
    {
        // Hash the password
        newUser.Password = BCrypt.Net.BCrypt.HashPassword(newUser.Password);

        // Add the new user to the database
        _context.Users.Add(newUser);
        await _context.SaveChangesAsync();

        // Clear form
        newUser = new User();
    }
}
