@page "/conversations"
@using KalastusWebsite.Services
@using KalastusWebsite.Data
@using KalastusWebsite.Models
@inject AppDbContext _context
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<h3>Kaikki Keskustelut</h3>
<link href="css/kaikkikeskustelut.css" rel="stylesheet">


@if (conversations != null && conversations.Any())
{
    <div class="conversation-list">
        @foreach (var conversation in conversations)
        {
            <div class="conversation-box" @onclick="() => NavigateToConversation(conversation.Id)">
                <h4>@conversation.Title</h4>
                <p><small>Lähettäjä @conversation.Username @conversation.CreatedAt.ToString("dd.MM.yyyy HH:mm")</small></p>
                <p>@(conversation.Content.Length > 100 ? conversation.Content.Substring(0, 100) + "..." : conversation.Content)
                </p>
            </div>
        }
    </div>
}
else
{
    <p>No conversations available.</p>
}

@code {
    private List<Conversation> conversations;

    protected override async Task OnInitializedAsync()
    {
        // Load all conversations from the database
        conversations = await _context.Conversations.OrderByDescending(c => c.CreatedAt).ToListAsync();
    }

    private void NavigateToConversation(int conversationId)
    {
        // Navigate to the specific conversation page
        NavigationManager.NavigateTo($"/conversation/{conversationId}");
    }
}
