@inherits LayoutComponentBase
@inject Services.UserSession UserSession
@inject IJSRuntime JSRuntime

<PageTitle>KalastusWebsite</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="NavigateToHome" style="margin-right: auto;">Etusivu</button>

            @if (UserSession.IsLoggedIn)
            {
                <button class="btn btn-link" @onclick="Logout">Kirjaudu ulos</button>
                <button class="btn btn-link" @onclick="NavigateToProfile">Profiili</button>
            }
            @if (!UserSession.IsLoggedIn)
            {
                <button class="btn btn-link" @onclick="NavigateToRegister">Rekisteröidy</button>
                <button class="btn btn-link" @onclick="NavigateToLogin">Kirjaudu</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="sidebar">
        <NavMenu />
    </div>
</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    // Method to navigate to the Home/Index page
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task Logout()
    {
        // Clear the user session
        UserSession.Username = string.Empty;
        UserSession.UserId = 0; // Reset UserId
        UserSession.IsLoggedIn = false;

        // Clear the map and marker count using JavaScript
        await JSRuntime.InvokeVoidAsync("clearMap");
        await JSRuntime.InvokeVoidAsync("resetMarkerCount");

        // Redirect to the home page
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/add-user");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToProfile()
    {
        if (UserSession.IsLoggedIn)
        {
            NavigationManager.NavigateTo($"/profile/{UserSession.Username}");
        }
        else
        {
            UserSession.RedirectUrl = "/profile";
            NavigationManager.NavigateTo("/login");
        }
    }
}
