@inherits LayoutComponentBase

<PageTitle>KalastusWebsite</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <button class="btn btn-link" @onclick="NavigateToHome">Home</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    // Method to navigate to the Home/Index page
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}