@inherits LayoutComponentBase
@inject Services.UserSession UserSession

<PageTitle>KalastusWebsite</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="NavigateToHome" style="margin-right: auto;">Etusivu</button>

            @if (UserSession.IsLoggedIn)
            {
                <button class="btn btn-link" @onclick="Logout">Kirjaudu ulos</button>
            }
            @if (!UserSession.IsLoggedIn)
            {
                <button class="btn btn-link" @onclick="NavigateToRegister">Rekisteröidy</button>
                <button class="btn btn-link" @onclick="NavigateToLogin">Kirjaudu</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="sidebar">
        <NavMenu />
    </div>
</div>



@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    // Method to navigate to the Home/Index page
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void Logout()
    {
        // Clear the user session
        UserSession.Username = string.Empty;
        UserSession.IsLoggedIn = false;

        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/add-user");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}